<footer class="bg-bottom text-center py-5">
    <div class="container px-5">
        <div class="text-white-50 small">
            <div class="mb-2">&copy; Moyu 2025-∞. 保留所有权利。</div>
            <a href="https://github.com/Moyu">GitHub</a>
            <span class="mx-1">&middot;</span>
            <a href="https://twitter.com/QuantumMoyu">Twitter</a>
            <span class="mx-1">&middot;</span>
            <a href="https://space.bilibili.com/Moyu">Bilibili</a>
        </div>
    </div>
</footer>