<section id="home-page" class="page">
    <div class="container px-5">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1>Moyu / 末玉</h1>
                <p class="lead">量子魔法使 | 理论物理研究者 | 二次元爱好者</p>
                
                <div class="d-flex justify-content-center my-4">
                    <a href="https://github.com/Moyu" class="mx-2">
                        <span class="anime-badge"><i class="bi bi-github"></i> GitHub</span>
                    </a>
                    <a href="https://twitter.com/Moyu" class="mx-2">
                        <span class="anime-badge"><i class="bi bi-twitter"></i> Twitter</span>
                    </a>
                    <a href="https://space.bilibili.com/Moyu" class="mx-2">
                        <span class="anime-badge"><i class="bi bi-play-btn-fill"></i> Bilibili</span>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="anime-card">
                    <h3><i class="bi bi-mortarboard-fill"></i> 教育背景</h3>
                    <ul>
                        <li><strong>XX大学</strong> - 理论物理博士 (2023-至今)</li>
                        <li><strong>XX大学</strong> - 物理学硕士 (2020-2023)</li>
                        <li><strong>XX大学</strong> - 物理学学士 (2016-2020)</li>
                    </ul>
                </div>
                
                <div class="anime-card">
                    <h3><i class="bi bi-award-fill"></i> 荣誉奖项</h3>
                    <ul>
                        <li>国家奖学金 (2022)</li>
                        <li>校级优秀毕业生 (2020)</li>
                        <li>物理竞赛一等奖 (2019)</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="anime-card">
                    <h3><i class="bi bi-heart-fill"></i> 研究兴趣</h3>
                    <p>我的研究主要集中在量子场论、弦理论和数学物理的交叉领域：</p>
                    <div class="d-flex flex-wrap">
                        <span class="anime-badge my-1">量子引力</span>
                        <span class="anime-badge my-1">AdS/CFT对偶</span>
                        <span class="anime-badge my-1">黑洞热力学</span>
                        <span class="anime-badge my-1">共形场论</span>
                    </div>
                </div>
                
                <div class="anime-card">
                    <h3><i class="bi bi-music-note-beamed"></i> 近期爱好</h3>
                    <ul>
                        <li>弹吉他创作同人音乐</li>
                        <li>制作VTuber虚拟形象</li>
                        <li>参加动漫展会</li>
                        <li>开发二次元风格物理模拟器</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>